@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

body {
    background-color: black;
    color: white;
    font-family: 'Open Sauce One', sans-serif;
}

.nome {
    /*é o que está deixando o nome levemente para a direita e não colado no topo*/
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: -200px;

}
.eu {
    font-size: 28px;
}

a {
    /*está removendo a linha do link e deixando a cor do texto branca*/
    text-decoration: none;
    color: white;
    margin-right: 40px;
}

.topo {
    /*deixei no topo e alterei tamanho*/
    text-align: center;
    margin-top: 170px;
    margin-left: 600px;
    font-size: 20px;
    margin-right: 10px;
    
}

.foto1 {
    /*aumentei o tamanho da imagem e tirei do lado esquerdo*/
    text-align: left;
    margin-top: 20px;
    margin-left: 300px;
    
}

.texto1 {
    /*deixei o texto do lado da imagem*/
    margin-top: -400px;
    width: 400px;
    margin-left: 660px;
    font-size: 22px;
    
}

.atv {
    /*deixei o titulo no centro e deixei abaixo da primeira parte*/
    margin-top: 300px;
    text-align: center;
    font-size: 28px;
}

.funk {
    /*alterei a largura*/
    width: 200px;
}

.textoht {
    /*tirei da parede*/
    margin-left: 295px;
    font-size: 22px;
}

.imght {
    /*deixi a img em baixo do texto*/
    margin-left: 284px;
}

#habili {
    /*só alterei o tamanho da fonte*/
    font-size: 28px;
}

.textocss {
    /*tirei da parede e alterei o tamanho*/
    margin-left: 800px;
    font-size: 22px;
    margin-top: -350px;
}

.imgcss {
    /*deixei em baixo do texto do css*/
    margin-left: 785px;
}

.titulo {
    font-size: 28px;
    margin-top: 200px;
}
.atv {
    margin-top: 200px;
}

#fale {
    font-size: 28px;
    font-style: italic;
    margin-top: 200px;
}

.logo {
    height: 200px;
}

.c7 {
    height: 300px;
    width: 300px;
    text-align: right;
}

.bloco {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: auto;

}

.textogit {
    margin-left: 42%;
    height: auto;
    font-size: 22px;
}

.git {
    margin-left:30%;
    margin-top: 30px;
}

.java {
    margin-left: 40%;
}

.textojava {
    margin-left: 43%;
    font-size: 22px;
    margin-top: 100px;
}



